[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "~=1.0.1"
discord-py-slash-command = "*"
build = "~=0.3.1.post1"
typing = "~=3.7.4.3"
future = "~=0.18.2"
aiohttp = "~=3.7.4.post0"
Cython = "~=0.29.22"
retry = "*"

[dev-packages]

[requires]
python_version = "3.9"
